body {
    margin: 0;
}

header {
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 70px;
    padding-top: 15px;
    padding-left: 15px;
}

header nav ul {
    margin: 0;
    list-style: none;
    display: inline;
}

header nav ul li {
    display: inline;
    padding: 10px;
}

li::after {
    content: "|";
    margin-left: 25px;
}

li:last-child::after {
    content: "";
}

input[type=button] {
    all: unset;
}

input[type=button]:focus {
    border: 1px solid #333;
}

@media screen and (max-width: 910px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}